body {
  background: none;
}

.titulo-info {
  border-bottom: solid thin #000;
  padding-bottom: 0.3rem;
}

.titulo-info p {
  font-size: 18px;
}

.infos-cadastro {
  width: 610px;
  margin: auto;
}

.infos {
  margin-bottom: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

.infos .input-label {
  width: 295px;
}

.button-criar {
  margin-top: 20px;
  font-size: 16px;
  width: 295px;
  height: 40px;
  margin: auto;
}
