main {
  display: flex;
  justify-content: space-between;
}

.campanhas {
  width: 621px;
}
.campanhas h2 {
  margin-top: 0;
}
.campanhas .campanhas-flex {
  flex-wrap: wrap;
  gap: 14px;
}
.campanhas .campanhas-flex a {
  color: #000;
}

.pesquisa {
  width: 336px;
}