.tituloDivulgacaoItem {
  width: 604px;
  color: #0063bf;
  margin: auto;
  padding-bottom: 40px;
}

.input {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 10px 10px 0px 0px;
}

.tudo {
  margin: auto;
  width: 604px;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
}

.input input::-moz-placeholder {
  color: #B7B7B7;
}

.input input:-ms-input-placeholder {
  color: #B7B7B7;
}

.input input::placeholder {
  color: #B7B7B7;
}

input[type=file], textarea {
  height: 178px;
}

input::-webkit-file-upload-button {
  background-color: #0063bf;
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

.custom-file-upload input[type=file] {
  display: none;
}

.file-selected {
  content: "aa";
}