body {
  background: none;
}

.tituloDivulgacaoItem {
  width: 60%;
  color: #0063bf;
  margin: auto;
  padding-bottom: 40px;
}

.inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.inputs button {
  width: 49%;
}

.input-label {
  width: 49%;
}

.tudo {
  margin: auto;
  width: 60%;
}

input[type="file"], textarea {
  height: 178px;
}

.espaco-imagem {
  height: 178px;
}

.custom-file-upload {
  bottom: 65px;
}

.cancelar {
  background-color: #CB6868;
}
