.carrossel {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.carrossel input[type=radio] {
  display: none;
}
.carrossel .slides {
  display: flex;
  width: 300%;
  height: 100%;
}
.carrossel .slides .slide {
  width: 33.3%;
  transition: 1.5s;
}
.carrossel .slides .s1 {
  background-image: url(../../images/bannerHome/01.jpg);
  background-position: center;
}
.carrossel .slides .s2 {
  background-image: url(../../images/bannerHome/02.jpg);
  background-position: center;
}
.carrossel .slides .s3 {
  background-image: url(../../images/bannerHome/03.jpg);
  background-position: center;
}
.carrossel .indicadores {
  position: absolute;
  bottom: 20px;
  left: 50%;
  display: flex;
  transform: translate(-50%);
}
.carrossel .indicadores .indicador {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #fff;
  cursor: pointer;
  margin: 5px;
  filter: drop-shadow(2px 2px 1px black);
  transition: 0.2s;
}
.carrossel .indicadores .indicador:hover {
  background-color: #fff;
}
.carrossel .indicadores .indicador.ativo {
  background-color: #fff;
}

#slide1:checked ~ .s1 {
  margin-left: 0;
}

#slide2:checked ~ .s1 {
  margin-left: -33.3%;
}

#slide3:checked ~ .s1 {
  margin-left: -66.6%;
}

.campanhas h2 {
  margin: 30px 0;
  letter-spacing: 5.5px;
}
.campanhas .campanhas-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.campanhas .campanhas-flex .campanha {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 187px;
}
.campanhas .campanhas-flex .campanha .sobre-campanha {
  background-color: #F3F3F3;
  padding-bottom: 10px;
  border-radius: 0 0 5px 5px;
}
.campanhas .campanhas-flex .campanha .sobre-campanha .nome-campanha {
  padding: 10px;
  font-size: 14px;
  font-weight: 700;
}
.campanhas .campanhas-flex .campanha .sobre-campanha .progresso {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.campanhas .campanhas-flex .campanha .sobre-campanha .progresso .barra-progresso {
  width: 153px;
  height: 11px;
  background-color: #D9D9D9;
}
.campanhas .campanhas-flex .campanha .sobre-campanha .progresso .barra-progresso .quantidade-progresso {
  width: 30%;
  height: 11px;
  background-color: #D45F2C;
}
.campanhas .campanhas-flex .campanha .sobre-campanha .progresso .porcentagem {
  margin-left: 3px;
  font-size: 11px;
  font-weight: 700;
}
.campanhas .campanhas-flex .ong {
  width: 151px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: #F3F3F3;
}
.campanhas .campanhas-flex .ong .nome-ong {
  padding: 14px 10px;
  font-size: 14px;
  font-weight: 700;
}

.apresentacao {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 20px;
}
.apresentacao .foto {
  background-color: #ededed;
  width: 58%;
  height: 268px;
}
.apresentacao .explicacao {
  width: 37%;
}
.apresentacao .explicacao h1 {
  width: 303px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.apresentacao .explicacao h1 img {
  width: 120px;
}
.apresentacao .explicacao p {
  margin-top: 20px;
  text-align: justify;
}

.botoes-carrossel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 86px;
  height: 22px;
  margin: auto;
}
.botoes-carrossel button {
  justify-content: center;
  width: 28px;
  height: 22px;
  margin-top: 0;
  position: static;
}
.botoes-carrossel button::after {
  content: none;
}
.botoes-carrossel button img {
  padding: 0;
  width: 16px;
}
.botoes-carrossel .voltar img {
  transform: rotate(180deg);
}