@import './components/mixins';
@import './components/fontcolors';
@import './components/header';
@import './components/footer';

body{
  position: relative;
  background-image: url(./../images/background/background-body.png);
  min-height: 100vh;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  list-style: none;
  text-decoration: none;
}

main{
  margin: auto;
  width: 1200px;
  padding: 3.438rem;
}

button, a{
  cursor: pointer;
}

button{
  display: flex;
  align-items: center;
  font-size: 14px;
  background-color: $primary-color;
  color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  border: none;

  img{
    padding-right: 4.5px ;
    width: 19px;
  }
}

h1, h2{
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 900;
}

.container{
  @include flexCenter(space-between, center);
  width: 1200px;
  margin: auto;
}

