header {
  height: 7.4vh;
}

body {
  padding-top: 7.4vh;
}

.principalLogin {
  height: 92.6vh;
  display: flex;
  align-items: center;
}

.bannerLogin {
  width: 50%;
  height: 100%;
}

.login {
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 289px;
  justify-content: space-between;
}

.login input {
  width: 395px;
  height: 55px;
}

.login button {
  height: 45px;
}

p {
  text-align: center;
}