main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1000px;
}

main nav {
  width: 233px;
}

main nav ul li {
  margin-bottom: 20px;
}

main nav ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-size: 16px;
  color: #000;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

main nav ul a:hover {
  color: #0063BF;
}

main nav ul a img {
  width: 28px;
  height: 28px;
}

main .infos-configuracoes {
  width: 610px;
}

main .infos-configuracoes .titulo-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0063BF;
  font-family: "Roboto", sans-serif;
  gap: 10px;
  font-size: 16px;
}

main .infos-configuracoes .infos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

main .infos-configuracoes .infos .input-label {
  width: 295px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 0.6rem;
  text-align: center;
}

tbody {
  border-top: solid thin #babaca;
}

footer {
  position: absolute;
  bottom: 0px;
}
