
#pix{
  width: 100%;

  div{
    display: flex;

  }

  select{
    width: 25%;
    border-right: none;
    border-radius: 4px 0 0 4px;
  }

  input{
    border-left: none;
    border-radius: 0 4px 4px 0;
  }

}

#website{
  width: 100%;
}

#cep{
    width: 128px;
  }
  
  #cidade{
    width: 158px;
  }
  
  #UF{
    width: 80px;
  }
  
  #bairro{
    width: 206px;
  }
  
  #logradouro{
    width: 390px;
  }
  
  #numero{
    width:80px;
  }
  
  #complemento{
    width:113px;
  }
  
  #categoria{
    width: 386px;
  }
  
  #logo{
    width: 250px;
  }
  
  #dsOng, #itens, #categoria{
    width: 335px;
  }
  #dsOng{
    height: 104px;
  }
  
  #bannerOng{
    width: 100%;
    height: 167px;
  
    .custom-file-upload{
      bottom: 40px;
    }
  }
  
  .espaco-imagem{
    position: relative;
    height: 250px;
    border: 2px solid #d3d3d3;
    border-radius: 4px;
    background-color: #fff;
  }
  
  .custom-file-upload {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $primary-color;
    color: #fff;
    display: flex;
    justify-content: center;
    width: 140px;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
    font-family: Arial, sans-serif;
  }
  
  .custom-file-upload input[type="file"] {
    display: none;
  }
  
  .file-selected{
    content: 'aa';
  }
  
  #nomeArquivo{
    font-size: 14px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .button-salvar{
    margin-top: 20px;
    font-size: 16px;
    width: 295px;
    height: 40px;
  }