@import './../abstracts/mixins';
@import './../abstracts/variables';


footer{
  display: flex;
  align-items: center;
  height: 200px;
  width: 100%;
  background-color: $primary-color;

  nav{
    @include flexCenter (space-between, flex-start);
    padding: $padding-principal;
    width: $espacamento-principal;
    margin: auto;

    .logo-footer{
      width: 138px;
    }

    h3{
      font-size: 16px;
      color: #fff;
    }

    a{
      font-size: 14px;
      color: #fff;
    }
  }
}