@import './../abstracts/mixins';
@import './../abstracts/variables';

header
{
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  background: #FFFFFF;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.13);

  nav{
    position: relative;
    @include flexCenter(space-between, center);
    padding: $padding-principal;
    width: $espacamento-principal;
    margin: auto;

    .logo-header{
      width: 138px;
    }

    ul{
      @include flexCenter(space-between, center);

      li{
        padding-left: 16px; 
      }
      a{
        color: #000;
        transition: 0.15s;

        &:hover{
          color: $primary-color;
        }
      }
    }

    #btnMenuHeader{
      width: 30px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      margin-bottom: 0;
      span{
        height: 4px;
        border-radius: 2px;
        width: 100%;
        transition: 0.1s;
        background-color: #000;
      }
    }
  }
}

#chkMenuHeader:checked ~ .navHeaderResponsivo{
  display: block;
}

#chkMenuHeader:checked ~ #btnMenuHeader{
  display: none;
}

#btnMenuHeader.animarMenu .linha:nth-child(1){
  transform: translateY(10px) rotate(-45deg);
}
#btnMenuHeader.animarMenu .linha:nth-child(2){
  display: none;
}
#btnMenuHeader.animarMenu .linha:nth-child(3){
  transform: translateY(-11px) rotate(45deg);
}

.navHeaderResponsivo{
  background-color: #fff;
  display: none;
  width: 100%;
  height: 100vh;

  li, h3{
    margin-top: 20px;
  }

  a{
    color: #000;
  }
}

.divisaoNavResposivo{
  border-bottom: solid 2px #d3d3d3;
  padding: $padding-principal;
  padding-bottom: 20px;
}

.btnSairNavResponsivo{
  color: $primary-color;
  padding :$padding-principal;
  font-weight: 600;
}

