main {
  display: flex;
  justify-content: space-between;
}

.foto-descricao-item {
  width: 675px;
}
.foto-descricao-item .imagem-item {
  border-radius: 4px 4px 0 0;
  width: 100%;
  height: 416px;
  background: url(./../images/itens/item1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.foto-descricao-item .descricao-item {
  border-radius: 4px;
  padding: 1.25rem;
  margin-top: 10px;
  min-height: 220px;
  width: 100%;
  background-color: #f5f5f5;
}
.foto-descricao-item .descricao-item h3 {
  margin: 5px 0;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #585858;
}
.foto-descricao-item .descricao-item p {
  font-size: 14px;
  text-align: justify;
}

.infos-item {
  width: 360px;
}
.infos-item h3 {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
.infos-item button {
  width: 100%;
  margin: 15px 0 20px 0;
}
.infos-item .info-item {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 62px;
  padding: 1rem;
  background-color: #F5F5F5;
}
.infos-item .info-item img {
  width: 24px;
  height: 24px;
}
.infos-item .info-item p {
  color: #1876F2;
  word-wrap: break-word;
}
.infos-item .info-item p span {
  color: #000;
}