main{
    width: 900px;
}


.titulo-info {
  border-bottom: solid thin #000;
  padding-bottom: 0.3rem;
}
.titulo-info p {
  font-size: 18px;
}

.infos-cadastro {
  width: 100%;
  margin: auto;
}

.infos {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  margin-top: 20px;
  column-gap: 10px;
}
.infos .input-label {
  width: 49%
}

.button-criar {
  margin-top: 20px;
  font-size: 16px;
  width: 295px;
  height: 40px;
  margin: auto;
}

/*RESPONSIVO*/

@media screen and (max-width: 1199px) {
    main {
        width: 100% !important;
    }
}


@media screen and (max-width: 700px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .infos .input-label{
        width:100%;
    }

    #cep{
        width:100%
    }

    #UF {
        width: 100%
    }

    #cidade {
        width: 100%
    }

    #bairro {
        width: 100%

    }

    #logradouro {
        width: 100%
    }

    #numero {
        width: 100%
    }


    #complemento {
        width: 100%
    }
}