body {
  background: none;
}

.principalInfos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}

.fundoCadastro {
    width: 453px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #FCFBFB;
    border: 2px solid #CDC7C7;
    padding: 3rem;
    margin-top: 20px;
}

#btnOng, #btnDoador {   
  background-color: #0063BF;
  border-radius: 4px;
  text-align: center;
  height: 31px;
  color: #fff;
  margin-top: 20px;
  width: 384px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.fundoCadastro a {
  color: #0063BF;
}

.fundoCadastro p {
  text-align: center;
  width: 382px;
}

h1 {
  text-align: center;
}