main {
  display: flex;
  justify-content: space-between;
}

.foto-descricao-campanha {
    width: 62%;
}
.foto-descricao-campanha .imagem-campanha {
  width: 100%;
  height: 416px;
  border-radius: 4px 4px 0 0;
  background: url(./../images/campanhas/campanha1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.foto-descricao-campanha .descricao-campanha {
  border-radius: 4px;
  padding: 1.25rem;
  margin-top: 10px;
  min-height: 220px;
  width: 100%;
  background-color: #F5F5F5;
}
.foto-descricao-campanha .descricao-campanha h3 {
  margin: 5px 0;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #585858;
}
.foto-descricao-campanha .descricao-campanha p {
  margin-top: 11px;
  text-align: justify;
  letter-spacing: 0.2px;
  line-height: 27px;
}

.infos-campanha {
    width: 33%;
}
.infos-campanha .botoes {
    margin: 15px 0px 15px 0px;
}
.infos-campanha .meta h3 {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
.infos-campanha .meta button {
    width: 100%;
    margin: 15px 0 5px 0;
}
.infos-campanha .meta .barra-meta {
  margin-top: 10px;
  border: solid thin #8B8B8B;
  border-radius: 4px;
  background-color: #D9D9D9;
  width: 100%;
  height: 18px;
}
.infos-campanha .meta .progresso {
  width: 30%;
  height: 100%;
  background-color: #B66D6D;
}
.infos-campanha .realizador-campanha h3 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 4px;
  font-weight: 900;
}
.infos-campanha .realizador-campanha .infos-realizador {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.infos-campanha .realizador-campanha .infos-realizador img {
  border: solid thin #8B8B8B;
  border-radius: 4px;
  width: 60px;
  height: 60px;
}
.infos-campanha .realizador-campanha .infos-realizador h3 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0px;
}
.infos-campanha .realizador-campanha .infos-realizador p {
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 2; /** número de linhas que você quer exibir */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.barra-meta .progresso {
    max-width: 100%;
}
.ods-campanha {
  margin-top: 20px;
}
.ods-campanha h3 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 4px;
  font-weight: 900;
  margin-bottom: 20px;
}
.ods-campanha .flex-ods {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.ods-campanha .flex-ods img {
  width: 68px;
}
#btnEditarCampanha {
    color: #0063BF;
    background: rgba(255,255,255, 0);
    border: solid 2px #0063BF;
}
/*RESPONSIVO*/
@media screen and (max-width: 1199px) {
    main {
        width: 100% !important;
    }

    .foto-descricao-campanha .imagem-campanha {
        height: 238px;
    }

    .infos-campanha .realizador-campanha .infos-realizador img {
        width: 80px;
        height: 80px;
    }

    .ods-campanha .flex-ods img {
        width: 80px;
    }
}


@media screen and (max-width: 700px) {

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .foto-descricao-campanha {
        width: 100%;
    }

        .foto-descricao-campanha .imagem-campanha {
            width: 100%;
            height: 200px;
        }

    .infos-campanha {
        width: 100%;
        margin-top: 25px;
    }

    .ods-campanha .flex-ods img {
        width: 80px;
    }

    .infos-campanha .realizador-campanha .infos-realizador img {
        width: 80px;
        height: 80px;
    }
}