main {
    display: flex;
    justify-content: space-between;
}

.pesquisa {
    width: 32%;
}

.ongs {
    width: 63%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.ongs a{
    width: 100%;
}

.ongs h2 {
  margin-bottom: 30px;
}
.ongs .ong {
  margin-bottom: 15px;
  width: 100%;
  border-radius: 4px;
}
.ongs .ong .imagem-ong {
  width: 94px;
  height: 80px;
  border-radius: 4px;
  margin-bottom: -10px;
  background: url(./../images/ongs/ong1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.ongs .ong .infos-ong {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    border-radius: 4px 4px 0 0;
    background-color: #F5F5F5;
    padding: 0.938rem 0.75rem;
    padding-bottom: 0;
}
.ongs .ong .infos-ong .descricao {
    width: 100%;
}
.ongs .ong .infos-ong .descricao h3 {
  color: #000;
  font-weight: 700;
  display: flex;
  gap: 10px;
}
.ongs .ong .infos-ong .descricao h3 img {
  width: 20px;
  height: 20px;
}
.ongs .ong .infos-ong .descricao p {
    width: 100%;
    color: #403C3C;
    margin-top: 4px;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ongs .ong .tags {
    font-size: 12px;
    color: #fff;
    background-color: #0063bfd4;
    border-radius: 0 0 4px 4px;
    padding: 0.4rem;
    padding-left: 6.4rem;
    list-style-position: inside;
    letter-spacing: 0.4px;
 }
    .ongs .ong .tags .tag {
        font-size: 13px;
        color: #fff;
        padding-left: 0.3rem; 
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
.backButton {
    width: 28px;
    height: 22px;
    background-color: #0063bf;
    border: none;
    margin-top: 0;
    position: static;
    padding: 3px 6px 3px 6px;
    transform: rotate(180deg);
}
.paginacao a {
    color: #000;
    width: auto;
}

.nextButton 
{
    width: 28px;
    height: 22px;
    background-color: #0063bf;
    border: none;
    margin-top: 0;
    position: static;
    padding: 3px 6px 3px 6px;
}
.itemPaginacao {
    margin-right: 3px;
    margin-left: 3px;
}


/*RESPONSIVO*/

@media screen and (max-width: 1199px) {
    main {
        width: 100% !important;
    }
}


@media screen and (max-width: 700px) {

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pesquisa {
        width: auto;
    }

    .ongs {
        width: 100%;
    }

    .ongs .ong .imagem-ong {
        width: 117px;
    }

    h2{
        margin-top:30px;
    }
}
