@import './../abstracts/mixins';
@import './../abstracts/variables';


main{
  display: flex;
  justify-content: space-between;
}

.campanhas{
  width: 621px;
  
  h2{
    margin-top: 0;
  }
  
  .campanhas-flex{
    flex-wrap: wrap;
    gap: 14px;

    a{
      color: #000;
    }
  }
}

.pesquisa{
  width: 336px;
}


@media screen and (min-width: 769px) and (max-width: 1199px){

  nav{
    width: 100% !important;
  }

  main{
    width: 100%;
  }

  .campanhas{
    width: 60%;
  }

  .pesquisa{
    width: 38%;
  }

  .campanhas-flex a {
    width: 48% !important;
    color: #000;

    .campanha{
      width: 100% !important;
    }
    
    img{
      width: 100% !important;
      height: 60% !important;
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 768px){

  nav{
    width: 100% !important;
  }

  main{
    width: 100%;
    flex-direction: column-reverse;
  }

  .campanhas{
    width: 100%;
  }

  .pesquisa{
    width: 100%;
    margin-bottom: 30px;
  }

  .campanhas-flex a {
    width: 48% !important;
    color: #000;

    .campanha{
      width: 100% !important;
    }
    
    img{
      width: 100% !important;
      height: 60% !important;
    }
  }
}