@import './../abstracts/mixins';
@import './../abstracts/variables';


.apresentacao{
  @include flexCenter(space-between, flex-start);
  padding-bottom: 20px;
  .foto{
    background-color: #ededed;
    width: 58%;
    height: 268px;
  }

  .explicacao{
    width: 37%;

    h1{
      @include flexCenter(flex-start, flex-start);
      gap: 8px;

      img{
        width: 120px;
      }
    }
    p{
      margin-top: 20px;
      text-align: justify;
    }
  }
}

