@import './../components/slider';
@import './../abstracts/mixins';
@import './../abstracts/variables';
@import './../components/sliderCampanhas';


.apresentacao{
  @include flexCenter(space-between, flex-start);
  padding-bottom: 20px;
  .foto{
    background-color: #ededed;
    width: 58%;
    height: 268px;
  }

  .explicacao{
    width: 37%;

    h1{
      width: 303px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      img{
        width: 120px;
      }
    }
    p{
      margin-top: 20px;
      text-align: justify;
    }
  }
}

.botoes-carrossel{
  @include flexCenter(space-between, center);
  width: 86px;
  height: 22px;
  margin: auto;

  button{
    justify-content: center;
    width: 28px;
    height: 22px;
    margin-top: 0;
    position: static;

    &::after{
      content: none;
    }

    img{
      padding: 0;
      width: 16px;
    }
  }
  .voltar{

    img{
      transform: rotate(180deg);
    }
  }
}