@import "./../abstracts/mixins";
@import "./../abstracts/variables";

main {
  display: flex;
  justify-content: space-between;
}

.foto-descricao-item {
  width: 675px;

  .imagem-item{
    border-radius: 4px 4px 0 0;
    width: 100%;
    height: 416px;
    background: url(./../images/itens/item1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .descricao-item {
    border-radius: 4px;
    padding: 1.25rem;
    margin-top: 10px;
    min-height: 220px;
    width: 100%;
    background-color: #f5f5f5;

    h3 {
      margin: 5px 0;
      font-size: 14px;
      font-family: $fonte-secundaria;
      color: #585858;
    }

    p {
      font-size: 14px;
      text-align: justify;
    }
  }
}

.infos-item {
  width: 360px;

  h3 {
    font-size: 16px;
    font-family: $fonte-secundaria;
    font-weight: 900;
  }

  button {
    width: 100%;
    margin: 15px 0 20px 0;
  }

  .info-item {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 62px;
    padding: 1rem;
    background-color: $cinza-elementos;

    img {
      width: 24px;
      height: 24px;
    }

    p {
      color: $link;
      word-wrap: break-word;

      span{
        color: #000;
      }
    }
  }
}
