body {
  background: none;
}

.tituloDivulgacaoItem {
  width: 100%;
  color: #0063bf;
  margin: auto;
  padding-bottom: 40px;
}

.inputs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.inputs button {
  width: 49%;
}

.input-label {
  width: 49%;
}

.tudo {
  margin: auto;
  width: 70%;
}

input[type=file], textarea {
  height: 178px;
}

.espaco-imagem {
    height: 178px;
    position: relative;
    height: 250px;
    border: 2px solid #d3d3d3;
    border-radius: 4px;
    background-color: #fff;
}

.custom-file-upload {
  bottom: 65px;
}

.cancelar {
  background-color: #CB6868;
}

.separar-inputs {
  width: 49%;
}
.separar-inputs .input-label {
  width: 100%;
}

.textarea {
  height: 95px;
}


#pnlODS{
    max-height:385px;
}

.oi{
    width:49%
}

 #desc{
    width:100%;
}

 #fotinho{
     width:100%;
 }
#btnCriarDivulgacao{
    width:49%;
}
#nomeArquivo {
    font-size: 14px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*RESPONSIVO*/
@media screen and (max-width: 1199px) {
    main {
        width: 100% !important;
    }
}


@media screen and (max-width: 700px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }

    .infos .input-label {
        width: 100%;
    }

    .input-label {
        width: 100%;
    }

    .tudo {
        width: 100%;
    }

    .oi {
        width: 100%;
    }

    .tituloDivulgacaoItem {
      width:100%;
    }
}

.botoesEditarEncerrar{
    width: 49%;
}
.botoesEditarEncerrar:hover {
    transition: 0.2s ease;
    background-color: #1d7dd7;
}
#btnCancelar {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

#btnCancelar:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}

