h1 {
    margin-bottom: 10px;
}

.principalLogin {
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
}

.bannerLogin {
    background: url(./../images/imgLogin/01.svg);
    background-size: cover;
    background-position: center;
    width: 50vw;
    height: 100%;
}

.login {
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 289px;
    justify-content: space-between;
}
.login input {
    width: 395px;
    height: 45px;
}

.login input[type=submit] {
    margin: 10px 0;
    height: 45px;
    padding: 0.594rem 1rem;
    font-size: 16px;
}

p {
    text-align: center;
}

.erromsg {
    height: 12px;
}

/*RESPONSIVO*/

@media screen and (max-width: 1199px) {
    main {
        width: 100% !important;
    }

    .bannerLogin{
        width:0px;
    }

    header{
        height:45px;
    }

   
}


@media screen and (max-width: 700px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bannerLogin{
        display:none;
    }

    .login input{
        width:353px;
    }

    .login {
        margin-top: 134px;
    }
}