@import './configuracoes';
@import './../../abstracts/mixins';
@import './../../abstracts/variables';

.pesquisar{
  width: 60%;
  margin: 0px 0 20px 0;
}

.infos{

  a{
    width: 38%;
  }
  button{
    width: 100%;
    padding: 0.75rem;
    height: 45px;
  }
}