

.filtro{
  margin-top: 30px;
  width: 100%;
  padding: 1.375rem 1.25rem;
  background-color: $cinza-elementos;
  border-radius: 4px;
  
  h3{
    font-family: $fonte-secundaria;
    font-weight: 900;
  }

  select{
    background-color: #fff;
    border-style: none;
    padding: 1rem;
    outline: none !important;
    padding: 0.4rem;
    margin-top: 12px;
    border: none;
    width: 100%;
  }
}