

input, select, textarea{
  border-radius: 4px;
  background-color: $cinza-elementos;
  border: none;
  resize: none;
  padding: 0.594rem 1rem ;

  &:focus{
    border: none;
    outline: none !important;
  }
}

input[type=number]::-webkit-inner-spin-button{
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

label{
  display: inline-block;
  margin-bottom: 5px;
}

.input-label{
  margin-bottom: 20px;
}