@import './../abstracts/mixins';
@import './../abstracts/variables';

.pesquisar{
  background-color: #fff;
  @include flexCenter(space-between, center);
  border: solid 2px #B7B7B7;
  border-radius: 4px;
  padding-right: 0.75rem;

  input[type=search]{
    border: none;
    width: 100%;
    padding: 0.75rem;
    padding-right: 0;

    &:focus{
      outline: none !important;
    }
  }
  
  input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
  }

  img{
    cursor: pointer;
    width: 20px;
  }
}