@import './configuracoes';
@import './../../abstracts/mixins';
@import './../../abstracts/variables';


table{
    width: 100%;
    border-collapse: collapse;
}

td{
    padding: 0.6rem;
    text-align: center;
}

tbody{
    border-top: solid thin #babaca;
}

footer{
    position: absolute;
    bottom: 0px;
}