/* -------------- ABSTRACTS --------------- */

@import './abstracts/mixins';
@import './abstracts/variables';


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: $fonte-principal;
  list-style: none;
  text-decoration: none;
}

button, a{
  cursor: pointer;
}

button{
  @include flexCenter(center, center);
  font-size: 14px;
  background-color: $primary-color;
  color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  border: none;

  img{
    padding-right: 4.5px ;
    width: 19px;
  }
}

h1, h2{
  font-family: $fonte-secundaria;
  font-size: 22px;
  font-weight: 900;
}

h2{
  letter-spacing: 5.5px;
}


/* -------------- LAYOUT --------------- */

@import './layout/header';
@import './layout/footer';
@import './layout/body';
@import './layout/main';
@import './layout/cadastro';

/* -------------- COMPONENTES --------------- */


@import './components/menuConfiguracoes';
@import './components/sliderCampanhas';
@import './components/slider';
@import './components/filtro';
@import './components/inputs';
@import './components/input-pesquisa';
@import './components/botoesCarrosel';
@import './components/denunciaCompartilhar';
@import './components/caixaFlutuante';
@import './components/popupDenuncia';
@import './components/popupCompartilhar';
@import './components/popupDoacao';
@import './components/popupDoacaoMonetaria';
@import './components/popupDoacaoItem';
@import './components/popupItem';


/* --------------  --------------- */



@media screen and (max-width: 1199px){
  main{
    width: 100% !important;
  }
}

@media screen and (max-width: 600px){
  main{
    padding: 2rem;
  }

  header nav{
    padding: 0 2rem;
  }

  header nav li{
    display: none;
  }

  footer nav img, .aImg{
    display: none !important;
  }

  h2{
    font-size: 20px;
    letter-spacing: 3.5px !important;
  }
  h1{
    font-size: 20px;
  }
}

@media screen and (min-width: 600px){
  #btnMenuHeader,.navHeaderResponsivo{
    display: none !important;
  }
}

