@import './mixins';
@import './fontcolors';


footer{
  display: flex;
  align-items: center;
  height: 200px;
  width: 100%;
  background-color: $primary-color;

  nav{
    @include flexCenter (space-between, flex-start);
    padding: 0 3.438rem;
    width: 1200px;
    margin: auto;

    h3{
      font-size: 16px;
      color: #fff;
    }

    a{
      font-size: 14px;
      color: #fff;
    }
  }
}