

$primary-color: #0063BF;
$cinza-elementos: #F5F5F5;
$link: #1876F2;

$texto: #403C3C;

$fonte-principal:  'Lato', sans-serif;
$fonte-secundaria: 'Roboto', sans-serif;

$espacamento-principal: 1200px;
$padding-principal: 0 3em;

