/* -------------- ABSTRACTS --------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  list-style: none;
  text-decoration: none;
}

button, a {
  cursor: pointer;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background-color: #0063BF;
  color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  border: none;
}
button img {
  padding-right: 4.5px;
  width: 19px;
}

h1, h2 {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 900;
}

h2 {
  letter-spacing: 5.5px;
}

/* -------------- LAYOUT --------------- */
header {
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  background: #FFFFFF;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.13);
}
header nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3em;
  width: 1200px;
  margin: auto;
}
header nav .logo-header {
  width: 138px;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul li {
  padding-left: 16px;
}
header nav ul a {
  color: #000;
  transition: 0.15s;
}
header nav ul a:hover {
  color: #0063BF;
}
header nav #btnMenuHeader {
  width: 30px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 0;
}
header nav #btnMenuHeader span {
  height: 4px;
  border-radius: 2px;
  width: 100%;
  transition: 0.1s;
  background-color: #000;
}

#chkMenuHeader:checked ~ .navHeaderResponsivo {
  display: block;
}

#chkMenuHeader:checked ~ #btnMenuHeader {
  display: none;
}

#btnMenuHeader.animarMenu .linha:nth-child(1) {
  transform: translateY(10px) rotate(-45deg);
}

#btnMenuHeader.animarMenu .linha:nth-child(2) {
  display: none;
}

#btnMenuHeader.animarMenu .linha:nth-child(3) {
  transform: translateY(-11px) rotate(45deg);
}

.navHeaderResponsivo {
  background-color: #fff;
  display: none;
  width: 100%;
  height: 100vh;
}
.navHeaderResponsivo li, .navHeaderResponsivo h3 {
  margin-top: 20px;
}
.navHeaderResponsivo a {
  color: #000;
}

.divisaoNavResposivo {
  border-bottom: solid 2px #d3d3d3;
  padding: 0 3em;
  padding-bottom: 20px;
}

.btnSairNavResponsivo {
  color: #0063BF;
  padding: 0 3em;
  font-weight: 600;
}

footer {
  display: flex;
  align-items: center;
  height: 200px;
  width: 100%;
  background-color: #0063BF;
}
footer nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 3em;
  width: 1200px;
  margin: auto;
}
footer nav .logo-footer {
  width: 138px;
}
footer nav h3 {
  font-size: 16px;
  color: #fff;
}
footer nav a {
  font-size: 14px;
  color: #fff;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "cv11", "salt", "ss01", "ss03", "cv01", "cv02", "cv03", "cv04", "cv05", "cv06", "cv09", "cv10";
  padding-top: 50px;
  position: relative;
  background-image: url(./../images/background/background-body.png);
}

main {
  margin: auto;
  min-height: 90vh;
  width: 1200px;
  padding: 0 3em;
  padding-top: 3.438rem;
  padding-bottom: 3.438rem;
}

#pix {
  width: 100%;
}
#pix div {
  display: flex;
}
#pix select {
  width: 25%;
  border-right: none;
  border-radius: 4px 0 0 4px;
}
#pix input {
  border-left: none;
  border-radius: 0 4px 4px 0;
}

#website {
  width: 100%;
}

#cep {
  width: 128px;
}

#cidade {
  width: 158px;
}

#UF {
  width: 80px;
}

#bairro {
  width: 206px;
}

#logradouro {
  width: 390px;
}

#numero {
  width: 80px;
}

#complemento {
  width: 113px;
}

#categoria {
  width: 386px;
}

#logo {
  width: 250px;
}

#dsOng, #itens, #categoria {
  width: 335px;
}

#dsOng {
  height: 104px;
}

#bannerOng {
  width: 100%;
  height: 167px;
}
#bannerOng .custom-file-upload {
  bottom: 40px;
}

.espaco-imagem {
  position: relative;
  height: 250px;
  border: 2px solid #d3d3d3;
  border-radius: 4px;
  background-color: #fff;
}

.custom-file-upload {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0063BF;
  color: #fff;
  display: flex;
  justify-content: center;
  width: 140px;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
  font-family: Arial, sans-serif;
}

.custom-file-upload input[type=file] {
  display: none;
}

.file-selected {
  content: "aa";
}

#nomeArquivo {
  font-size: 14px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-salvar {
  margin-top: 20px;
  font-size: 16px;
  width: 295px;
  height: 40px;
}

/* -------------- COMPONENTES --------------- */
.menu-configuracoes {
  display: none;
  background-color: #F5F5F5;
  position: absolute;
  right: 3.438rem;
  top: 41.6px;
  z-index: 3;
}
.menu-configuracoes ul {
  display: flex;
  flex-direction: column;
}
.menu-configuracoes a {
  color: #000;
}
.menu-configuracoes li {
  width: 100%;
  padding: 0.5rem;
  cursor: pointer;
}
.menu-configuracoes li:hover {
  background-color: #d9d9d9;
  color: #0063BF;
}
.menu-configuracoes li:hover a {
  color: #0063BF;
}

#menuConfig:checked ~ .menu-configuracoes {
  display: block;
}

.campanhas h2 {
  margin: 30px 0;
}
.campanhas .campanhas-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.campanhas .campanhas-flex a {
  color: #000;
  display: flex;
  height: 100%;
  flex-direction: column;
}
.campanhas .campanhas-flex .campanha {
  border-radius: 5px;
  width: 295px;
}
.campanhas .campanhas-flex .campanha .imagem-campanha {
  background: url(./../images/campanhas/campanha1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 182px;
  border-radius: 4px 4px 0 0;
}
.campanhas .campanhas-flex .campanha .sobre-campanha {
  width: 100%;
  background-color: #F5F5F5;
  padding-bottom: 10px;
  border-radius: 0 0 5px 5px;
  height: 71px;
}
.campanhas .campanhas-flex .campanha .sobre-campanha .nome-campanha {
  padding: 10px;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}
.campanhas .campanhas-flex .campanha .sobre-campanha .progresso {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.campanhas .campanhas-flex .campanha .sobre-campanha .progresso .barra-progresso {
  width: 85%;
  height: 11px;
  background-color: #D9D9D9;
}
.campanhas .campanhas-flex .campanha .sobre-campanha .progresso .barra-progresso .quantidade-progresso {
  width: 30%;
  height: 11px;
  background-color: #D45F2C;
}
.campanhas .campanhas-flex .campanha .sobre-campanha .progresso .porcentagem {
  margin-left: 3px;
  font-size: 11px;
  font-weight: 700;
}
.campanhas .campanhas-flex .ong {
  width: 151px;
  border-radius: 5px;
  background-color: #F5F5F5;
}
.campanhas .campanhas-flex .ong .imagem-ong {
  width: 100%;
  height: 149px;
  background: url(./../images/ongs/ong1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.campanhas .campanhas-flex .ong a {
  display: flex;
  flex-direction: column;
  color: #000;
}
.campanhas .campanhas-flex .ong .nome-ong {
  padding: 14px 10px;
  font-size: 14px;
  font-weight: 700;
}

.carrossel {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.carrossel input[type=radio] {
  display: none;
}
.carrossel .slides {
  display: flex;
  width: 300%;
  height: 100%;
}
.carrossel .slides .slide {
  width: 33.3%;
  transition: 1.5s;
}
.carrossel .slides .s1 {
  background-image: url(../images/home/slider/01.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.carrossel .slides .s2 {
  background-image: url(../images/home/slider/02.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.carrossel .slides .s3 {
  background-image: url(../images/home/slider/03.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.carrossel .indicadores {
  position: absolute;
  bottom: 20px;
  left: 50%;
  display: flex;
  transform: translate(-50%);
}
.carrossel .indicadores .indicador {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #fff;
  cursor: pointer;
  margin: 5px;
  filter: drop-shadow(2px 2px 1px black);
  transition: 0.2s;
}
.carrossel .indicadores .indicador:hover {
  background-color: #fff;
}
.carrossel .indicadores .indicador.ativo {
  background-color: #fff;
}

#slide1:checked ~ .s1 {
  margin-left: 0;
}

#slide2:checked ~ .s1 {
  margin-left: -33.3%;
}

#slide3:checked ~ .s1 {
  margin-left: -66.6%;
}

.filtro {
  margin-top: 30px;
  width: 100%;
  padding: 1.375rem 1.25rem;
  background-color: #F5F5F5;
  border-radius: 4px;
}
.filtro h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
.filtro select {
  background-color: #fff;
  border-style: none;
  padding: 1rem;
  outline: none !important;
  padding: 0.4rem;
  margin-top: 12px;
  border: none;
  width: 100%;
}

input, select, textarea {
  width: 100%;
  border-radius: 4px;
  background-color: #fff;
  resize: none;
  padding: 0.594rem 1rem;
  border: 2px solid #d3d3d3;
}
input:focus, select:focus, textarea:focus {
  outline: none !important;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

label {
  display: inline-block;
  margin-bottom: 5px;
}

.input-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;
}

.pesquisar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 2px #B7B7B7;
  border-radius: 4px;
  padding-right: 0.75rem;
}
.pesquisar input[type=search] {
  border: none;
  width: 100%;
  padding: 0.75rem;
  padding-right: 0;
}
.pesquisar input[type=search]:focus {
  outline: none !important;
}
.pesquisar input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
.pesquisar img {
  cursor: pointer;
  width: 20px;
}

.botoes-carrossel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 86px;
  height: 22px;
  margin: auto;
}
.botoes-carrossel button {
  justify-content: center;
  width: 28px;
  height: 22px;
  margin-top: 0;
  position: static;
}
.botoes-carrossel button::after {
  content: none;
}
.botoes-carrossel button img {
  padding: 0;
  width: 16px;
}
.botoes-carrossel .voltar img {
  transform: rotate(180deg);
}

.denunciar-compartilhar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding: 10px 2px;
  position: relative;
  /*border-top: solid thin #000;*/
}
.denunciar-compartilhar::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
}
.denunciar-compartilhar .compartilhar, .denunciar-compartilhar .denunciar {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.15s;
}
.denunciar-compartilhar .compartilhar:hover, .denunciar-compartilhar .denunciar:hover {
  color: #0063BF;
}
.denunciar-compartilhar .compartilhar img, .denunciar-compartilhar .denunciar img {
  width: 17.5px;
  height: 22px;
}

.caixa-flutuante {
  position: fixed;
  left: 50%;
  top: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 3;
}

.bloqueio {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.7;
}

.escondido {
  display: none;
}

.botao-fechar {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 22px;
  height: 22px;
}

.botao-voltar {
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 20px;
  height: 20px;
}

.denuncia {
  padding: 1.875rem;
  padding-top: 3.5rem;
}
.denuncia .denuncia-flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.denuncia .denuncia-flex h1 {
  text-transform: uppercase;
  letter-spacing: 0.6px;
}
.denuncia .denuncia-flex select {
  margin: 15px 0;
}
.denuncia button {
  margin-top: 15px;
}

.popup-compartilhar {
  padding: 1rem;
  padding-top: 1.5rem;
}
.popup-compartilhar .botao-fechar {
  top: 10px;
  right: 16px;
}
.popup-compartilhar .compartilhar-flex {
  display: flex;
  gap: 10px;
}
.popup-compartilhar .compartilhar-flex input {
  width: 274px;
}
.popup-compartilhar .compartilhar-flex button {
  width: 36px;
  height: 36px;
}
.popup-compartilhar .compartilhar-flex button img {
  padding: 0;
  width: 24px;
  height: 24px;
}

.popup-doacao {
  width: 800px;
  padding: 2rem;
  text-align: center;
}
.popup-doacao h2 {
  letter-spacing: 0.6px;
  margin-bottom: 30px;
}
.popup-doacao .escolher-doacao {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popup-doacao .escolher-doacao .tipo-doacao {
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: #F5F5F5;
  width: 293px;
  height: 285px;
  border-radius: 4px;
}
.popup-doacao .escolher-doacao .tipo-doacao h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
.popup-doacao .escolher-doacao .ou {
  height: 285px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.popup-doacao .escolher-doacao .ou::before, .popup-doacao .escolher-doacao .ou::after {
  content: "";
  width: 1px;
  height: 127px;
  background-color: #000;
}

.popup-doacao-monetaria {
  padding: 2rem;
  padding-top: 3rem;
  width: 520px;
}
.popup-doacao-monetaria .monetaria-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 187px;
}
.popup-doacao-monetaria .monetaria-flex .infos-doacao {
  width: 195px;
  display: flex;
  flex-direction: column;
}
.popup-doacao-monetaria .monetaria-flex .infos-doacao button {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 15px;
}
.popup-doacao-monetaria .monetaria-flex .espacamento {
  width: 1px;
  height: 100%;
  background-color: #000;
  height: 100%;
}
.popup-doacao-monetaria .monetaria-flex .qrcode {
  border: solid thin #AFB1B6;
  width: 187px;
  height: 100%;
}
.popup-doacao-monetaria .botao-finalizar-doacao {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-doacao-monetaria .botao-finalizar-doacao button {
  width: 228px;
}

.popup-doacao-item {
  padding: 2rem;
  padding-top: 3rem;
}
.popup-doacao-item .infos-doacao {
  width: 228px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.popup-doacao-item .infos-doacao input, .popup-doacao-item .infos-doacao select {
  width: 100%;
}

.popup-item {
  padding: 2rem;
  padding-top: 3rem;
}
.popup-item button {
  width: 100%;
}

/* --------------  --------------- */
@media screen and (max-width: 1199px) {
  main {
    width: 100% !important;
  }
}
@media screen and (max-width: 600px) {
  main {
    padding: 2rem;
  }
  header nav {
    padding: 0 2rem;
  }
  header nav li {
    display: none;
  }
  footer nav img, .aImg {
    display: none !important;
  }
  h2 {
    font-size: 20px;
    letter-spacing: 3.5px !important;
  }
  h1 {
    font-size: 20px;
  }
}
@media screen and (min-width: 600px) {
  #btnMenuHeader, .navHeaderResponsivo {
    display: none !important;
  }
}